:root {
	--primary: #047857;
	--text-primary: #111827;
	--text-secondary: #9ca3af;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

/* Actual CSS */
body {
	font-family: sans-serif;
	margin: auto;
	display: flex;
	height: 100vh;
	flex-direction: column;
	background-color: #f3f4f6;
	padding: 0 0.5rem;
	font-size: 16px;
}

header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-block-end: var(--primary) solid 2px;
	padding-inline: 0.5rem;
	padding-block: 1rem;
	font-weight: 600;
	color: var(--text-primary);
}

header > nav > ul {
	display: flex;
	flex: 1 1 0%;
	column-gap: 1rem;
}

header > nav > ul > li.selected {
	color: var(--primary);
	text-decoration: underline;
}

header > nav > :last-child {
	font-size: 1.5rem;
	line-height: 2rem;
	width: 1.5rem;
	height: 1.5rem;
}

main {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

main section {
	border-block-end: var(--primary) solid 2px;
	display: flex;
	flex-direction: column;
	padding-block: 2rem;
}

main section > h2 {
	font-size: 1.2rem;
	color: var(--text-primary);
	margin-block: 0 2rem;
}

main a {
	color: var(--primary);
	position: relative;
	text-decoration: none;
}

main a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--primary);
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease-in;
}

main a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.introduction {
	justify-content: center;
	gap: 2rem;
}

.introduction > h1 {
	display: block;
	margin: auto;
	font-size: 2rem;
	font-weight: 500;
	color: var(--primary)
}

.introduction > img {
	margin: auto;
	width: 66%;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	transition: box-shadow 0.3s ease;
	object-fit: cover;
	display: block;
	max-width: 16rem;
}

.introduction > img:hover {
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.introduction > p {
	display: block;
	margin: auto;
	white-space: nowrap;
	max-width: 100%;
	font-size: clamp(0.5rem, 5vw, 1.5rem);
}

.highlights ul {
	list-style-type: none;
	margin: 0 0 0 0.5rem;
	padding: 0;
}

.highlights ul li {
	position: relative;
	margin-block-end: 1rem;
	padding-left: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.highlights ul li:last-child {
	margin-block-end: 0;
}

.highlights ul li::before {
	content: "•";
	font-size: 1.2rem;
	position: absolute;
	left: 0;
	top: -2px;
}

/* Experience Section */

/* Experience List */
.experience > ol {
	position: relative;
	padding: 0;
	margin: 0 0 0 0.5rem;
	border-inline-start: var(--primary) 2px solid;
	list-style-type: none;
}

/* Experience Item */
.experience > ol > li {
	padding-inline-start: 1rem;
	margin-block-end: 2rem;
	display: grid;
	grid-template-areas:
		"date"
		"title"
		"description"
		"events";
	gap: 0.5rem;
	position: relative;
}

.experience > ol > li:last-child {
	margin-block-end: 0;
}

.experience > ol > li::before {
	content: '';
	position: absolute;
	left: -0.5rem;
	top: 0.rem;
	height: 0.75rem;
	width: 0.75rem;
	border-radius: 50%;
	border: 1px solid var(--primary);
	background-color: var(--primary);
}

/* Experience Item Title */
.experience > ol > li > h3 {
	grid-area: title;
	order: 2;
	color: var(--text-primary);
	margin: 0;
	font-size: 1rem;
}

/* Experience Item Date */
.experience > ol > li > p {
	grid-area: date;
	order: 1;
	color: var(--text-secondary);
	font-size: 0.8rem;
	margin: 0;
}

/* Experience Item Description List */
.experience > ol > li > ol {
	grid-area: description;
	order: 3;
	font-size: 0.8rem;
	list-style-type: none;
	padding: 0;
}

/* Experience Item Description Item */
.experience > ol > li > ol > li {
	padding-inline-start: 1rem;
	margin-block-end: 0.5rem;
	position: relative;
}

.experience > ol > li > ol + ol {
	grid-area: events;
}

.experience > ol > li > ol > li:last-child {
	margin-block-end: 0;
}

.experience > ol > li > ol > li::before {
	content: "•";
	font-size: 1.2rem;
	position: absolute;
	left: 0;
	top: -2px;
	line-height: 1;
}

/* Footer Section */
footer {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem 0;
}

footer a {
	width: 1.25rem;
	height: 1.25rem;
	margin-inline-end: 0.5rem;
}

footer p {
	align-items: center;
	display: inline-flex;
	margin-inline-start: auto;
}

footer p svg {
	margin-inline: 0.25rem;
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
}

@media (min-width: 640px) {
	body {
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	body {
		max-width: 768px;
	}

	.experience-list-item::before {
		height: 0.875rem;
		width: 0.875rem;
	}

	.experience-list-item>p {
		font-size: 0.875rem;
	}

	.experience-list-item>h3 {
		font-size: 1rem;
	}

	.experience-list-item>ol {
		font-size: 0.875rem;
	}
}

@media (min-width: 1024px) {
	body {
		max-width: 1024px;
	}
}