:root {
	--background: #f5f5f1;
	--accent: #2D8B72;
	--text-primary: #1A1A1A;
	--text-secondary: #666666;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	background-color: var(--background);
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

main {
	margin: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-inline: 1rem;
}

main section {
	border-block-end: var(--accent) solid 2px;
	padding-block: 3rem;
	display: flex;
	flex-direction: column;
}

/* Link + sliding underline animation */
main a {
	color: var(--accent);
	position: relative;
	text-decoration: none;
}

main a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--accent);
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease-in;
}

main a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* Introduction Section */

.intro-container {
	justify-content: center;
	gap: 3rem;
}

.title {
	display: block;
	margin: auto;
	font-size: 2rem;
	font-weight: 500;
	color: var(--accent);
}

.profile-image {
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	transition: box-shadow 0.3s ease;
	object-fit: cover;
	display: block;
	width: 16rem;
	height: 16rem;
}

.profile-image:hover {
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.tagline {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 1.5rem;
}

.sub-title {
	font-size: 1.5rem;
	font-weight: 500;
}

/* Highlights Section */

.highlights-container {
	gap: 3rem;
}

.highlights-list {
	list-style-type: none;
}

.highlights-list-item {
	position: relative;
	margin-block-end: 1.5rem;
	padding-left: 1rem;
}

.highlights-list-item:last-child {
	margin-block-end: 0;
}

#highlights ul li::before {
	content: "•";
	font-size: 1.2rem;
	position: absolute;
	left: 0;
	top: -2px;
}


/* Talks Section */

.talks-container {
	gap: 3rem;
}

lite-youtube {
	margin: auto;
	max-width: 560px;
	width: 100%;
	border-radius: 15px;
}

/* Experience Section */

.experience-container {
	gap: 3rem;
}

.experience-list {
	position: relative;
	padding: 0;
	margin-inline-start: 0.5rem;
	border-inline-start: var(--accent) 2px solid;
	list-style-type: none;
}

.experience-list-item {
	padding-inline-start: 1rem;
	margin-block-end: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	position: relative;
}

.experience-list-item:last-child {
	margin-block-end: 0;
}

/* Timeline Bubble */
.experience-list-item::before {
	content: '';
	position: absolute;
	left: -0.6rem;
	top: 0rem;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	border: 1px solid var(--accent);
	background-color: var(--accent);
}

.experience-list-item-title {
	grid-row: 2;
	color: var(--text-primary);
	margin: 0;
	font-size: 1.2rem;
}

.experience-list-item-date {
	grid-row: 1;
	color: var(--text-secondary);
	font-size: 1rem;
	margin: 0;
}

.experience-list-item-description {
	grid-row: 3;
	font-size: 1rem;
	line-height: 1.5;
	list-style-type: disc;
	list-style-position: outside;
	padding: 0;
}

.experience-list-item-description-item {
	margin-inline-start: 1rem;
	margin-block-end: 0.5rem;
	position: relative;
}

.experience-list-item-description-item:last-child {
	margin-block-end: 0;
}

/* Responsive */

/* Small */
@media (min-width: 640px) {
	main, footer {
		max-width: 640px;
	}
}

/* Medium */
@media (min-width: 768px) {
	main, footer {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	main, footer {
		max-width: 1024px;
	}
}

/* Old Header Styles */
/* header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-block-end: var(--primary) solid 2px;
	padding-inline: 0.5rem;
	padding-block: 1rem;
	font-weight: 600;
	color: var(--text-primary);
}

header > nav > ul {
	display: flex;
	flex: 1 1 0%;
	column-gap: 1rem;
}

header > nav > ul > li.selected {
	color: var(--primary);
	text-decoration: underline;
}

header > nav > :last-child {
	font-size: 1.5rem;
	line-height: 2rem;
	width: 1.5rem;
	height: 1.5rem;
} */