---
import type { MarkdownInstance } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import type { Frontmatter } from "../utils/frontmatter";
const allPosts = Object.values(
	import.meta.glob<MarkdownInstance<Frontmatter>>("./blog/*.md", {
		eager: true,
	}),
);
---

<style>
	section {
		border-block-end: var(--accent) solid 2px;
		padding-block: 2rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	section:first-of-type {
		padding-block-start: 0;
	}

	section:last-of-type {
		border-block-end: none;
		padding-block-end: 0;
	}

	h2 {
		font-weight: 500;
	}

	.posts-container {
		display: flex;
		flex-direction: column;
	}
	.posts-list {
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>

<BaseLayout>
	<section class="posts-container">
		<h2>Posts</h2>
		<ul class="posts-list">
			{
				allPosts.map((post: any) => (
					<li class="posts-list-item">
						<BlogPostCard {post} />
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
