---
import "../styles/global.css";

import { Image } from "astro:assets";
import carryingLincoln from "../images/carrying_lincoln_cropped.jpeg";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Ethan Arrowood" />
    <meta
      name="description"
      content="Personal website for Ethan Arrowood. Avid adventurer. Open source maintainer. HarperDB Senior Software Engineer. Node.js Contributor. Breckenridge Ski Instructor."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏔️</text></svg>"
    />
    <script
      type="module"
      src="../../node_modules/@justinribeiro/lite-youtube/lite-youtube.js"
    ></script>
    <title>Ethan Arrowood</title>
  </head>

  <body>
    <main>
      <section id="intro" class="intro-container">
        <h1 class="title">Ethan Arrowood</h1>
        <Image
          src={carryingLincoln}
          alt="Ethan standing with his dog, Lincoln, over his shoulders (in a fireman carry). The background is a scenic summer day with a dirt trail, mountain peaks, trees, and other rocks and shrubs too."
          class="profile-image"
        />
        <p class="tagline">Optimizing Software, Overcoming Summits</p>
      </section>

      <section id="highlights" class="highlights-container">
        <h2 class="sub-title">Highlights</h2>
        <ul class="highlights-list">
          <li class="highlights-list-item">
            Senior Software Engineer at <a
              href="https://harperdb.io"
              target="_blank"
              rel="noreferrer">HarperDB</a>
          </li>
          <li class="highlights-list-item">
            <a href="https://nodejs.org" target="_blank" rel="noreferrer"
              >Node.js</a
            > Contributor & <a
              href="https://github.com/nodejs/undici/"
              target="_blank"
              rel="noreferrer">Undici</a
            > Maintainer
          </li>
          <li class="highlights-list-item">
            <a href="https://openjsf.org" target="_blank" rel="noreferrer"
              >OpenJS</a
            > & <a href="https://wintercg.org" target="_blank" rel="noreferrer"
              >WinterCG</a
            > Collaborator
          </li>
          <li class="highlights-list-item">
            Developing <a
              href="https://github.com/Ethan-Arrowood/mddl"
              target="_blank"
              rel="noreferrer">mddl</a
            >
            <span>(markdown documentation language)</span>
          </li>
          <li class="highlights-list-item">
            Managing <a
              href="https://alpinemooseinnovations.com"
              target="_blank"
              rel="noreferrer">Alpine Moose Innovations</a>
          </li>
          <li class="highlights-list-item">
            PSIA Certified Ski Instructor (Alpine 1, Freestyle 1, Children
            Specialist 1)
          </li>
        </ul>
      </section>

      <section id="talks" class="talks-container">
        <h2 class="sub-title">Talks</h2>
        <lite-youtube
          videoid="Koy8XkDSf30"
          playlistid="PL70YCHVvqVvxfJX9B81P-TjvbbKoXjegG"
        >
          <a
            href="https://www.youtube.com/playlist?list=PL70YCHVvqVvxfJX9B81P-TjvbbKoXjegG"
            class="lite-youtube-fallback">Watch my talks directly on YouTube</a
          >
        </lite-youtube>
      </section>

      <section id="experience" class="experience-container">
        <h2 class="sub-title">Experience</h2>
        <ol class="experience-list">
          <li class="experience-list-item">
            <h3 class="experience-list-item-title">
              HarperDB - Senior Software Engineer
            </h3>
            <p class="experience-list-item-date">August 2024 - Present</p>
            <ol class="experience-list-item-description">
              <li class="experience-list-item-description-item">
                Developing a distributed systems platform that combines
                database, caching, application, and streaming functions into a
                single technology.
              </li>
              <li class="experience-list-item-description-item">
                Leveraging high-performance Node.js and C++ to optimize the
                performance of the core product.
              </li>
            </ol>
          </li>
          <li class="experience-list-item">
            <h3 class="experience-list-item-title">
              Vercel - Senior Software Engineer
            </h3>
            <p class="experience-list-item-date">February 2022 - June 2024</p>
            <ol class="experience-list-item-description">
              <li class="experience-list-item-description-item">
                Maintained Vercel's core build platform supporting numerous
                runtimes, package managers, and frameworks
              </li>
              <li class="experience-list-item-description-item">
                Lead development of the configuration override feature enabling
                finer control of Vercel deployments
              </li>
              <li class="experience-list-item-description-item">
                Created the Vercel Azure DevOps Extension enabling improved
                CI/CD for enterprise customers
              </li>
              <li class="experience-list-item-description-item">
                Developed a comprehensive e2e testing suite for the zero config
                build pipeline
              </li>
              <li class="experience-list-item-description-item">
                Represented company at multiple open source organizations
                including OpenJS Foundation, WinterCG, and TC39
              </li>
              <li class="experience-list-item-description-item">
                Contributed multiple performance improvements to the Next.js
                framework, notably improving streaming throughput by 20%
              </li>
              <li class="experience-list-item-description-item">
                Created the experimental Next.js Test Mode feature for built in
                e2e testing
              </li>
            </ol>
          </li>

          <li class="experience-list-item">
            <h3 class="experience-list-item-title">
              Codecademy - Subject Matter Expert
            </h3>
            <p class="experience-list-item-date">May 2021 - January 2024</p>
            <ol class="experience-list-item-description">
              <li class="experience-list-item-description-item">
                Subject Matter Expert for multiple courses and curriculums
              </li>
              <li class="experience-list-item-description-item">
                Courses: Node.js, WebSockets, and Build Tools
              </li>
              <li class="experience-list-item-description-item">
                Curriculums (career paths): Full Stack, Front-End, and Back-End
              </li>
            </ol>
          </li>

          <li class="experience-list-item">
            <h3 class="experience-list-item-title">
              Digital Ready - Computer Science Professional Advisor & Board
              Member
            </h3>
            <p class="experience-list-item-date">
              January 2020 - December 2022
            </p>
            <ol class="experience-list-item-description">
              <li class="experience-list-item-description-item">
                Provided professional experience and feedback for the
                development of the AP CS and Year 13 curriculums
              </li>
              <li class="experience-list-item-description-item">
                Conducted professional development workshops for the AP Computer
                Science Cohort (March 2021)
              </li>
            </ol>
          </li>

          <li class="experience-list-item">
            <h3 class="experience-list-item-title">
              Microsoft - Software Engineer II
            </h3>
            <p class="experience-list-item-date">
              November 2019 - January 2022
            </p>
            <ol class="experience-list-item-description">
              <li class="experience-list-item-description-item">
                Worked alongside Microsoft's largest partners, creating
                innovative solutions to solve real business challenges
              </li>
              <li class="experience-list-item-description-item">
                Exercised strong engineering fundamentals such as agile
                development, CI/CD, testing, and pair programming
              </li>
              <li class="experience-list-item-description-item">
                Built enterprise solutions utilizing many unique Azure services
                and modern cloud engineering toolsets
              </li>
            </ol>
          </li>

          <li class="experience-list-item">
            <h3 class="experience-list-item-title">
              Wentworth Institute of Technology - B.S. Computer Science
            </h3>
            <p class="experience-list-item-date">
              September 2016 - August 2019
            </p>
            <ol class="experience-list-item-description">
              <li class="experience-list-item-description-item">
                Achieved Dean's List in all full-time semesters demonstrating
                continuous academic excellence
              </li>
              <li class="experience-list-item-description-item">
                Earned a Bachelor of Science in Computer Science and an Applied
                Mathematics Minor
              </li>
              <li class="experience-list-item-description-item">
                Earned Presidential Award for Academic Excellence and
                Co-Curricular Involvement
              </li>
              <li class="experience-list-item-description-item">
                Member of ΦΣΠ National Honors Fraternity
              </li>
              <li class="experience-list-item-description-item">
                2x Wentworth Professional Development Grant Recipient
              </li>
              <li class="experience-list-item-description-item">
                Participated in Wentworth Leadership Institute Phase 1 & 2
              </li>
              <li class="experience-list-item-description-item">
                Vice President of Wentworth Computer Science Society
              </li>
            </ol>
            <ol class="experience-list">
              <li class="experience-list-item">
                <h4 class="experience-list-item-title">
                  Microsoft - Software Engineering Intern
                </h4>
                <p class="experience-list-item-date">
                  July 2018 - December 2018
                </p>
                <ol class="experience-list-item-description">
                  <li class="experience-list-item-description-item">
                    Software Engineering intern on the Commercial Software
                    Engineering team
                  </li>
                  <li class="experience-list-item-description-item">
                    Worked with various technologies such as Docker, Kubernetes,
                    JavaScript (Node.js & React), Python (Flask), and Azure
                    Cloud Platform
                  </li>
                </ol>
              </li>

              <li class="experience-list-item">
                <h4 class="experience-list-item-title">GitHub Campus Expert</h4>
                <p class="experience-list-item-date">June 2018 - August 2019</p>
                <ol class="experience-list-item-description">
                  <li class="experience-list-item-description-item">
                    Taught students how to use Git and the GitHub platform
                  </li>
                  <li class="experience-list-item-description-item">
                    Mentored individuals making their first open source
                    contributions
                  </li>
                </ol>
              </li>

              <li class="experience-list-item">
                <h4 class="experience-list-item-title">
                  Griffith University - Study Abroad
                </h4>
                <p class="experience-list-item-date">
                  February 2018 - June 2018
                </p>
                <ol class="experience-list-item-description">
                  <li class="experience-list-item-description-item">
                    Attended Griffith University in Gold Coast, Australia
                  </li>
                  <li class="experience-list-item-description-item">
                    Studied computer science, international politics, and
                    mathematics
                  </li>
                </ol>
              </li>

              <li class="experience-list-item">
                <h4 class="experience-list-item-title">
                  LeaderShape National Institute
                </h4>
                <p class="experience-list-item-date">
                  February 2018 - June 2018
                </p>
                <ol class="experience-list-item-description">
                  <li class="experience-list-item-description-item">
                    Experienced and practiced leading with integrity and
                    facilitating change
                  </li>
                  <li class="experience-list-item-description-item">
                    Embraced and ideated on challenges and solutions around
                    diversity, inclusion, and accessibility
                  </li>
                </ol>
              </li>

              <li class="experience-list-item">
                <h4 class="experience-list-item-title">
                  Accelerate Innovation and Entrepreneurship Center
                </h4>
                <p class="experience-list-item-date">
                  October 2016 - August 2019
                </p>
                <ol class="experience-list-item-description">
                  <li class="experience-list-item-description-item">
                    Practiced and demonstrated innovative problem-solving skills
                    through a startup incubator-like program
                  </li>
                  <li class="experience-list-item-description-item">
                    Taught and lead young entrepreneurs to solve problems using
                    sustainable and innovative methods
                  </li>
                  <li class="experience-list-item-description-item">
                    Co-developed programs facilitating solution-driven
                    conversations solving Boston's most pressing issues
                  </li>
                </ol>
              </li>

              <li class="experience-list-item">
                <h4 class="experience-list-item-title">HackWITus</h4>
                <p class="experience-list-item-date">
                  October 2016 - August 2019
                </p>
                <ol>
                  <li class="experience-list-item-description-item">
                    Co-developed hackathon for students with a mission to
                    promote diversity and accessibility in our tech community
                  </li>
                  <li class="experience-list-item-description-item">
                    Lead 10 + person coordinating team, recruited company
                    sponsorships, and executed main event
                  </li>
                  <li class="experience-list-item-description-item">
                    Managed an annual budget of $15,000 and an average
                    attendance rate of 175 students
                  </li>
                </ol>
              </li>
            </ol>
          </li>

          <li class="experience-list-item">
            <h3 class="experience-list-item-title">
              Creative Click Media - Web Developer
            </h3>
            <p class="experience-list-item-date">October 2015 - October 2016</p>
            <ol class="experience-list-item-description">
              <li class="experience-list-item-description-item">
                Developed custom solutions for local business websites using web
                development fundamentals
              </li>
            </ol>
          </li>
        </ol>
      </section>
    </main>

    <!-- <header>
		<nav aria-label="Global Navigation">
			<ul class="nav-list">
				<li class="selected"><a href="/">Home</a></li>
				<li><a href="/posts">Posts</a></li> 
			</ul> 
			<span>
				<a href="https://github.com/ethan-arrowood/ethanarrowood.com" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
					</svg>
				</a>
			</span>
		</nav>
	</header> -->
  </body>
</html>
