---
interface Props {
  title: string;
  pubDate: string;
  description: string;
  url: string;
}

const { title, pubDate, description, url } = Astro.props;
---

<style>
  .blog-post-card {
    display: block;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: inherit;
    text-decoration: none;
  }

  .blog-post-card:hover {
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}
  
  .title {
    margin: 0.5rem 0;
    display: inline-block;
    font-size: 2rem;
  }
  .date {
    margin: 0.5rem 0;
    color: #555;
    font-size: 1rem;
  }

  .description {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #333;
  }
</style>

<a href={url} class="blog-post-card">
  <h3 class="title">{title}</h3>
  <p class="date">{new Date(pubDate).toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })}</p>
  <p class="description">{description}</p>
</a>